body {
  background: #D8634E;
}

@include style(1) {
  h1 {
    margin: 0 0 40px;
  }

  form#loginform {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: 0;
    box-shadow: none;
    padding: 0;

    p {
      &:first-child,
      &:nth-child(2) {
        label {
          position: relative;
          display: block;
          height: 60px;
          line-height: 60px;
          padding: 0 20px 0;
          box-sizing: border-box;
          color: $white;
          font-weight: 600;
          font-size: rem(16);
          overflow: hidden;
          transition: 0.3s ease;

          .icon {
            color: $white;
            margin: 0 20px 0 0;
          }

          &.focused {
            background: rgba($white, 0.1);
            color: transparent;

            .icon {
              color: $white;
            }
          }
        }
      }

      &:first-child {
        .input {
          border-radius: 4px 4px 0 0;
        }
      }

      &:nth-child(2) {
        margin: 0 0 20px;

        .input {
          margin-top: -1px;
          border-radius: 0 0 4px 4px;

          &:focus {
            ~ {
              background: #000;
            }
          }
        }
      }
    }

    .input {
      position: absolute;
      top: 0;
      left: 0;
      background: 0;
      border: 1px solid rgba($white, 0.3);
      box-shadow: none;
      margin: 0;
      padding: 18px 20px 18px 50px;
      box-sizing: border-box;
      color: $white;
      font-size: rem(16);
      font-weight: 600;
    }

    .submit {
      display: block;
      width: 80%;
      margin: 0 auto 40px;
      float: none;

      #wp-submit {
        background: $white;
        width: 100%;
        height: auto;
        padding: 12px 20px;
        border: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #666;
        font-size: rem(18);
        font-weight: 600;
        text-shadow: none;
      }
    }
  }

  #nav {
    margin: -18px 0 40px;
    font-size: rem(12);
    font-weight: 600;
    text-align: right;

    a {
      color: $white;
    }
  }

  .forgetmenot {
    display: block;
    order: 2;
    width: 100%;

    label {
      color: $white;
      font-weight: 600;
      color: $white;

      input {
        background: rgba($white, 0.1);
        border: 1px solid rgba($white, 0.3);
        border-radius: 2px;
        box-shadow: none;
        border-radius: 2px;
      }
    }
  }

  #backtoblog {
    position: fixed;
    top: 40px;
    left: 40px;
    margin: 0;
    padding: 0;

    a {
      color: $white;
      font-size: rem(18);
      font-weight: 600;
    }
  }
}