.et_divi_100_custom_login_page--style-1 {
  background: #D8634F;

  .divi-login {
    display: flex;
    flex-wrap: wrap;

    &__input {
      width: 100%;
      border: 1px solid rgba(#FFF, 0.2);

      &:first-of-type {
        border-radius: 4px 4px 0 0;
      }

      &:last-of-type {
        border-top: 0;
        border-radius: 0 0 4px 4px;
        margin: -1px 0 20px;
      }

      &.focused {
        background: rgba(#FFF, 0.2);
      }
    }

    &__submit {
      display: block;
      width: 100%;

      input.button {
        display: block;
        background: #FFFFFF;
        width: 80%;
        height: auto;
        margin: 0 auto;
        padding: 12px 20px;
        border: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #D8634F;
        font-size: 18px;
        font-weight: 600;
        text-shadow: none;
      }
    }

    &__remember {
      margin-bottom: 20px !important;
    }
  }
}
