.et_divi_100_custom_login_page--style-2 {
  background: #58575D;

  .divi-login {
    display: flex;
    flex-wrap: wrap;

    &__input {
      background: #FFFFFF;
      width: 100%;
      color: #BBB;

      &.focused {
        color: #8E8E92
      }
    }

    &__submit {
      display: block;
      width: 100%;

      input.button {
        display: block;
        background: #FF3366;
        width: 100%;
        height: auto;
        margin: 0 auto 20px;
        padding: 12px 20px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        box-sizing: border-box;
        color: #FFF;
        font-size: 18px;
        font-weight: 600;
        text-shadow: none;
      }
    }

    &__remember {
      order: 1;
      margin-bottom: 20px !important;
    }
  }
}
