@import "modules/base";

@import "partials/style-1";
@import "partials/style-2";
@import "partials/style-3";
@import "partials/style-4";
@import "partials/style-5";
@import "partials/style-6";
@import "partials/style-7";