@import "modules/base";

body.login {
  font-family: "Open Sans", sans-serif;
  font-size: rem(14);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  div#login {
    h1 {
      a {
        background-image: none, url("../img/logo.svg");
        background-size: 120px;
        width: 120px;
        height: 120px;
      }
    }
  }

  #backtoblog {
    position: fixed;
    top: 40px;
    left: 40px;
    margin: 0;
    padding: 0;

    a {
      color: $white;
      font-size: rem(18);
      font-weight: 600;
    }
  }
}

@import "partials/style-1";
@import "partials/style-2";
@import "partials/style-3";
@import "partials/style-4";
@import "partials/style-5";
@import "partials/style-6";
@import "partials/style-7";

@import "vendors/ionicon";